*{
  margin: 0;
  padding: 0;
}

#root{
  background-color: rgb(190, 190, 161);
}

#FrontPage{
  display: grid;
  grid-template-columns: repeat(4, 25%) ;
  grid-template-rows: repeat(4, 25%) ;
  height: 100vh;
  width: 100vw;
}

#NavBar{
  grid-area: 1/1/5/1;
  border: 5px solid black;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
}

#NavBar > ul > li{
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#SmallContainer{
  grid-area: 2/2/1/5;
  display: grid;
  grid-template-columns: repeat(3, 33.3%) ;
}

#InfoLarge {
  grid-area: 2/2/5/5;
  border: 5px solid black;
  margin: 15px;
  display: grid;
  grid-template-columns: repeat(5, 20%) ;
  grid-template-rows: repeat(5, 20%) ;
  background-color: grey;
}

#Graph {
  grid-area: 2/1/6/6;
  border: 5px solid black; 
  margin: 15px;
  background-color: antiquewhite;
}

.InfoSmall{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 5px solid black;
  margin: 5px;
  background-color: grey;
}